<!--The content below is only a placeholder and can be replaced. -->
<router-outlet></router-outlet>

<!--
<main class="content">
    <h1>Electron Timer</h1>
    <div class="progress-wrapper" *ngIf="maxVal">
        <div class="text" *ngIf="!isFinish">
            {{ maxVal - currentVal | number: '1.1-1' }}
        </div>
        <div class="text" *ngIf="isFinish">
            <audio src="assets/ANGELS_F.WAV" autoplay></audio>
        </div>
        <round-progress [current]="currentVal" [max]="maxVal" [radius]="100" [stroke]="25">

        </round-progress>
    </div>
</main>-->