<div>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a [routerLink]="['/main']" class="brand-logo logo-style"><img src="assets/stock-thai-app.png" width="50px" height="50px"></a>
            <a [routerLink]="['/main']" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['news']}}]"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a></li>
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['currency']}}]"><i class="fa fa-btc" aria-hidden="true"></i> Currency</a></li>
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['economic']}}]"><i class="fa fa-university" aria-hidden="true"></i> Economic</a></li>
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['api']}}]"><i class="fa fa-exchange" aria-hidden="true"></i> API</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['news']}}]"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a></li>
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['currency']}}]"><i class="fa fa-btc" aria-hidden="true"></i> Currency</a></li>
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['economic']}}]"><i class="fa fa-university" aria-hidden="true"></i> Economic</a></li>
                <li><a [routerLink]="['/main',{outlets: {'main-detail': ['api']}}]"><i class="fa fa-exchange" aria-hidden="true"></i> API</a></li>
            </ul>
        </div>
    </nav>

    <router-outlet name="main-detail"></router-outlet>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stock Thai App</h5>
                    <p class="grey-text text-lighten-4">Stock Thai Copyright (C). 2017 V.1.60.9.01.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Stock Thai App
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</div>